artifacts
cache
deployments
node_modules
coverage
coverage.json
typechain

.env

# lint
lint/intermediates/
lint/generated/
lint/outputs/
lint/tmp/
# lint/reports/

gas-report.txt
.openzeppelin
typechain-types